<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    Team Name: <%= @team_hash["name"]%>
    Coach: <%= @team_hash["coach"]%>
    Point Guard: <%= @team_hash["pg"]%>
    Shooting Guard: <%= @team_hash["sg"]%>
    Small Forward: <%= @team_hash["sf"]%>
    Power Forward: <%= @team_hash["pf"]%>
    Center: <%= @team_hash["c"]%>


 </body>
</html>


