<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

 <h1>Team Name: <%=@param[:name]%></h1>
 <h1>Coach: <%=@param[:coach]%></h1>
 <h1>Point Guard: <%=@param[:pg]%></h1>
 <h1>Shooting Guard: <%=@param[:sg]%></h1>
 <h1>Small Forward: <%=@param[:sf]%></h1>
 <h1>Power Forward: <%=@param[:pf]%></h1>
 <h1>Center: <%=@param[:c]%></h1>

 </body>
</html>


